PORT = 8000
NODE_ENV = development
MONGO_URI = 
BASE_URL = frontend url

JWT_SECRET_KEY = 
JWT_EXPIRE_TIME = 

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 465
EMAIL_USER = 
EMAIL_PASSWORD = 

STRIPE_SECRET = 
STRIPE_WEBHOOK_SECRET = 
